[Unit]
Description=Mount cases in _PATH_CASE
After=systemd-remount-fs.service
 
[Service]
#Type=simple
Type=oneshot
RemainAfterExit=yes
 
ExecStart=/usr/local/bin/mount-cases.sh mount
ExecStop=/usr/local/bin/mount-cases.sh umount
E 
[Install]
WantedBy=multi-user.target
