[Unit]
Description=Mount _PATH_CASE
After=systemd-remount-fs.service
 
[Service]
#Type=simple
Type=oneshot
RemainAfterExit=yes
 
ExecStart=/usr/local/bin/mount-cases.sh mount _PATH_CASE
ExecStop=/usr/local/bin/mount-cases.sh umount _PATH_CASE
 
[Install]
WantedBy=multi-user.target

